[attr]lock filter=lfs diff=lfs merge=binary -text lockable
[attr]lockonly lockable
[attr]lfs filter=lfs diff=lfs merge=binary -text
[attr]lfstext filter=lfs diff=lfstext merge=lfstext -text


# Unreal Engine file types.
*.uasset lock
*.umap lock
*.locres lfs
*.locmeta lfs
# Raw Content file types.
*.fbx lock
*.psd lock
*.png lock
*.mp4 lock
*.wav lock
*.jpg lock

*.3ds lfs
*.mp3 lfs
*.xcf lfs
*.pdb lfs
*.lib lfs